build/
dist/
dcf.egg-info/
*.pyc
.idea/
.cache/
doc/sphinx/_build/
doc/sphinx/_static/
doc/sphinx/_templates/
.DS_Store
dev.py
.coverage
coverage.xml
doc/coverage/
htmlcov/
tool.py
/pipeline_info.sh
/freeze_requirements.txt
.bin/
