.DS_Store
build/
dist/
/*.egg-info
*.egg-info
*.pyc
.idea/
.cache/
doc/sphinx/_build/
doc/sphinx/_static/
doc/sphinx/_templates/
htmlcov/
.coverage
coverage.xml
doc/coverage/
/dev.py
/pipeline_info.sh
/freeze_requirements.txt
.bin/
setenv
.aux/
*/__pycache__/
*.egg-info/
__pycache__/
.vs/
*.json
*.zip

