.DS_Store
build/
dist/
*.egg-info
*.pyc
.idea/
.cache/
doc/sphinx/_build/
doc/sphinx/_static/
doc/sphinx/_templates/
htmlcov/
.coverage
coverage.xml
doc/coverage/
/dev.py
/pipeline_info.sh
/freeze_requirements.txt
.bin/
setenv

*/__pycache__/
